# Root ignores
.DS_Store

# Client
/client/node_modules
/client/dist

# Server
/server/node_modules
/server/dist
/server/.env
/server/__pycache__
server/__pycache__

venv/
*.pyc
__pycache__/

# Google OAuth credentials
client_secret_*.json
